header {
    background-color: #4D7B95;
    
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    color: white;
    font-size: 64px;
    font-family:'Times New Roman', Times, serif,
}

nav {
    width: 50%;
    padding: 1%;
    
}

.logo {
    width: 60%;
    padding: 10%;
    text-align: center;
}

ul {
    width: 50%;
    margin-left: auto;
}

.selfie {
    height: 600px;
    padding: 10%;
    margin-left: 28%;
}
body {
    background-color:#AE8080;
}

.content {
    background-color: black;
    width: 500px;
    margin: 0 auto;
}

.name {
    color: white;
    font-size: 64px;
    text-align: center;
}

.text {
    font-style: regular;

    color: white;
    margin-left: 35%;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;

}

button {
    background-color: #AE8080;
    margin-left: 47%;
    color: white;
    height: 60px;
    width: 80px;
    margin-bottom: 20px;
}
footer {
    background-color: black;
    color: white;
}
.foot {
    display: inline-block;
    vertical-align: top;
    margin-left: 47%;
}